@model QA.DemoSite.ViewModels.BreadcrumbsViewModel

@if (Model != null)
{ 
  <div class="col-md-6">
    <ul class="breadcrumb">
      <li><span>Вы находитесь здесь:</span></li>
      @foreach (var el in Model.Items)
      {
        <li class="@(el.IsActive ? "active" : "")">
          @if (el.IsLink)
          {
            <a href="@el.Url">@el.Title</a>
          }
          else
          {
            @el.Title
          }
        </li>
      }
    </ul>
  </div>
}
