/*

[Custom Stylesheet]

Project: CloudServer - Responsive HTML5 Technology, Web Hosting and WHMCS Template
Version: 1.7
Author : themelooks.com

*/

.navbar-default .navbar-nav>li>a {
  color: #303030;
}
.navbar-default .navbar-nav>.active>a {
  color: inherit;
  background-color: inherit;
}
.navbar-default .navbar-nav>.active>a:hover {
  color: inherit;
  background-color: inherit;
}
