@model QA.DemoSite.ViewModels.FaqWidgetViewModel

@{
    var accordionId = "accordion" + Model.Id;
}

<!-- FAQ Area Start -->
<div id="faq" class="bg--lightgray">
  <div class="container">
    <div class="section-title">
      <h2>@Model.Header</h2>
    </div>

    <div class="faq-content">
      <div class="panel-group accordion" id="@accordionId" role="tablist">
        @foreach (var item in Model.Items)
        {
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <a href="#sharedTabQ@(item.Id)" role="button" class="collapsed" data-toggle="collapse" data-parent="#@accordionId">
                <h4 class="panel-title">@item.Question<i class="fa fa-minus"></i></h4>
              </a>
            </div>

            <div id="sharedTabQ@(item.Id)" class="panel-collapse collapse" role="tabpanel">
              <div class="panel-body">
                @Html.Raw(item.Answer)
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
<!-- FAQ Area End -->
