@model QA.DemoSite.Models.Widgets.BannerWidget

<!-- Banner Area Start -->
<div id="banner">
  <!-- Banner Slider Start -->
  <div class="banner-slider" data-pagination="true">
    @await Component.WidgetZone(Html, "Content")
  </div>
</div>
<!-- Banner Area End -->
